@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.container {
  width: 375px;
  padding: 0 25px;
  margin: 0 auto;

  @include mx.mq("md") {
    width: 768px;
    padding: 0 32px;
  }

  @include mx.mq("lg") {
    width: 1280px;
    padding: 0 16px;
  }
}
