@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.navigation {
  @include mx.mq("lg", "max") {
    visibility: hidden;
  }

  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}
