@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.header {
  background-color: fn.get-color("active-color");
  box-shadow: 0px 0px 10px 0px #896326 inset;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    display: flex;
    align-items: center;
  }

  &-btn {
    background-color: transparent;
    border: none;
  }
}
