@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.header {
  background-color: fn.get-color("main-color");
  box-shadow: 0 0 15px 0 #69616c inset;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    display: flex;
    align-items: center;
  }

  &-btn {
    background-color: transparent;
    border: none;

    @include mx.mq("lg") {
      display: none;
    }
  }
}
